<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:11:15 GMT -->
<head>
    <meta charset="utf-8">
    <title>Add New Address</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/user_assets/imgs/theme/favicon.webp">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/user_assets/css/maind134.css?v=3.4">
</head>

<body>
    <header class="header-area header-style-5">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+01) - 2345 - 6789</a></li>
                                <li><i class="fi-rs-marker"></i><a  href="page-contact.html">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Get great devices up to 50% off <a href="/products"> | View details</a></li>
                                    <li>Supper Value Deals - Save more with coupons</li>
                                    <li>Aesthetic Headphones, save up 35% off today <a href="/products">Shop now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <li>
                                    <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i> English <i class="fi-rs-angle-small-down"></i></a>
                                    <ul class="language-dropdown">
                                        <li><a href="#"><img src="/user_assets/imgs/theme/flag-fr.png" alt="">Français</a></li>
                                        <li><a href="#"><img src="/user_assets/imgs/theme/flag-dt.png" alt="">Deutsch</a></li>
                                        <li><a href="#"><img src="/user_assets/imgs/theme/flag-ru.png" alt="">Pусский</a></li>
                                    </ul>
                                </li>
                                <% if(!userSession){ %> 
                                    <li><i class="fi-rs-user"></i><a href="/login">Log In / Sign Up</a></li>
                                <% }else{ %>
                                    <div class="user-details d-flex align-items-center justify-content-evenly">
                                        <li><i class="fi-rs-user"></i><a class="mr-10" href="/logout">Logout</a></li>
                                    <li><i class="fi-rs-user"></i><a class="mr-10" href="/profile"><%= userSession.username %></a></li>
                                    <a class="profile-link" href="/profile">
                                        <div class="profile-pic mr-10" style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden;">
                                            <img src="/<%= user.userProfile %>" alt="User Profile Picture" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
                                        </div>
                                    </a> 
                                    </div>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom sticky-bar sticky-white-bg">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1">
                        <a href="/"><img src="/user_assets/imgs/theme/logo.png" alt="logo"></a>
                    </div>
                    <div class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                        <nav>
                            <ul>
                                <li><a href="/">Home</a>
                                </li>
                                <li><a href="/products">Shop</a>
                                </li>
                                <li>
                                    <a href="/contact">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-action-right">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img class="svgInject" alt="Evara" src="/user_assets/imgs/theme/icons/icon-heart.svg">
                                    <!-- <span class="pro-count blue">4</span> -->
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cart">
                                    <img alt="Evara" src="/user_assets/imgs/theme/icons/icon-cart.svg">
                                    <% if (cartLength) { %>
                                        <span class="pro-count blue"> <%= cartLength%> </span>
                                      <%  } %>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span>
                    <a href="/profile" rel="nofollow">Account</a>
                    <span></span> Add Address
                </div>
            </div>
        </div>
        <section class="pt-50 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Add New Address</h5>
                                            </div>
                                            <div class="card-body">
                                              <form method="post" action="/post-add-address?source=<%= source %>" id="myForm">
                                                <div class="ship_detail">
                                                    <div id="collapseAddress" class="different_address">
                                                        <div class="form-group">
                                                            <input type="text" required  name="name" id="username" placeholder="Name *">
                                                            <div id="usernameError" class="error"></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="text" required name="addressType" id="address" placeholder="Address *">
                                                            <div id="addressError" class="error"></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <input  type="text" required name="city" id="city" placeholder="City *">
                                                            <div id="cityError" class="error"></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <input  type="text" required name="landMark" id="landmark" placeholder="Landmark *">
                                                            <div id="landmarkError" class="error"></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <input  type="text" required name="state" id="state" placeholder="State *">
                                                            <div id="stateError" class="error"></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <input  type="number" required name="pincode" id="postcode" placeholder="Postcode  *">
                                                            <div id="postcodeError" class="error"></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <input  type="number" required name="phone" id="phoneNumber" placeholder="Phone Number  *">
                                                            <div id="phoneNumberError" class="error"></div>
                                                        </div>
                                                        <div class="form-group">
                                                            <input  type="number" required name="altPhone" id="altphone" placeholder="Alternative Phone Number  *">
                                                            <div id="altphoneError" class="error"></div>
                                                        </div>
                                                        <div>
                                                            <button type="submit" id="submitButton">Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            </div>

                                            <script>

                                                document.addEventListener("DOMContentLoaded", ()=>{
                                                    const submitButton = document.getElementById('submitButton');
                                                    submitButton.addEventListener("click", (e)=>{
                                                        console.log(validateForm());
                                                        if(!validateForm()){
                                                            e.preventDefault();
                                                        }
                                                    });

                                                    const validateForm = ()=>{
                                                    resetErrorMessages();

                                                    const inputFields = [
                                                    { id: 'username', name: 'Username' },
                                                    { id: 'address', name: 'Address' },
                                                    { id: 'city', name: 'City' },
                                                    { id: 'landmark', name: 'Landmark' },
                                                    { id: 'state', name: 'State' },
                                                    { id: 'postcode', name: 'Postcode' },
                                                    { id: 'phoneNumber', name: 'Phone Number' },
                                                    { id: 'altphone', name: 'Alternative Phone Number' }
                                                ];

                                                        isValid = true;

                                                    inputFields.forEach(field=>{
                                                        const value = document.getElementById(`${field.id}`).value;
                                                        const trimmedValue = value.trim();

                                                        //check for whitespaces and empty fields
                                                        if(value !== trimmedValue){
                                                            showError(`${field.id}Error`, `${field.name} cannot have whitespaces`);
                                                           isValid =  false;
                                                        }

                                                        if(trimmedValue == ""){
                                                            showError(`${field.id}Error`, `${field.name} cannot be empty`);
                                                           isValid = false;   
                                                        }

                                                        
                                                    });

                                                    const phoneNumber = document.getElementById('phoneNumber').value;
                                                    const altphone = document.getElementById('altphone').value;

                                                    if (isNaN(phoneNumber) || phoneNumber.length !== 10 || phoneNumber[0] === '0') {
                                                        showError('phoneNumberError', 'Phone number must be a number with exactly 10 digits and should not start with 0');
                                                        isValid = false;
                                                    }

                                                    if (isNaN(altphone) || altphone.length !== 10 || altphone[0] === '0') {
                                                        showError('altphoneError', 'Phone number must be a number with exactly 10 digits and should not start with 0');
                                                        isValid = false;
                                                    }

                                                    return isValid;

                                                }

                                                function showError(elementId, message){
                                                    const errorElement = document.getElementById(elementId);
                                                    errorElement.textContent = message;
                                                    errorElement.style.color = 'red';
                                                }

                                                function resetErrorMessages() { 
                                                    const errorElements = document.querySelectorAll('.error');
                                                    errorElements.forEach((element) => {
                                                        element.textContent = '';
                                                    });
                                                }

                                                });

                                            </script>

                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%-include('../partials/user_footer')-%>

    <!-- Vendor JS-->
    <script src="/user_assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/user_assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/user_assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/user_assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/user_assets/js/plugins/slick.js"></script>
    <script src="/user_assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/user_assets/js/plugins/wow.js"></script>
    <script src="/user_assets/js/plugins/jquery-ui.js"></script>
    <script src="/user_assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/user_assets/js/plugins/magnific-popup.js"></script>
    <script src="/user_assets/js/plugins/select2.min.js"></script>
    <script src="/user_assets/js/plugins/waypoints.js"></script>
    <script src="/user_assets/js/plugins/counterup.js"></script>
    <script src="/user_assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/user_assets/js/plugins/images-loaded.js"></script>
    <script src="/user_assets/js/plugins/isotope.js"></script>
    <script src="/user_assets/js/plugins/scrollup.js"></script>
    <script src="/user_assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="/user_assets/js/plugins/jquery.theia.sticky.js"></script>
    <!-- Template  JS -->
    <script src="/user_assets/js/maind134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/page-account.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:11:15 GMT -->
</html>