<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-grid-left.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:46 GMT -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoice</title>
    <link rel="shortcut icon" type="image/x-icon" href="/user_assets/imgs/theme/favicon.webp">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>


<body>
    <div class="container mt-3">
        <div class="row mt-4">
            <div class="col-12">
                <button id="printButton" class="btn btn-primary">
                    Print Invoice
                </button>
                <a href="/profile"><button class="btn btn-success goBackButton">Go Back</button></a>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <h1>Invoice</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-6">
                <h5>Sold by : </h5>
                <p>audiophile. E-Commerce</p>
                <p>123 Main Street</p>
                <p>Ernakulam, Kerala, 682040</p>
                <p>Email: audiophile@gmail.com</p>
            </div>
            <div class="col-6">
                <h5>To:</h5>
                <% if (order && order.address && order.address.address && order.address.address.length > 0) { %>
                  <% const address = order.address.address[0]; %>
                  <p><%= address.name %></p>
                  <p><%= address.landMark %></p>
                  <p><%= `${address.addressType}, ${address.city}, ${address.state}, ${address.pincode}` %></p>
                  <p><%= address.phone %></p>
                <% } %>
              </div>
              
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <p>Order ID: order_<%=order._id.toString().slice(0, 8)%> </p>
                <p>Order Date: <%= moment(order.orderDate).format("MMM Do YY") %> </p>
                <p> Order Status : 
                    <% if (order.orderStatus == "Delivered" || order.orderStatus == "Order Placed") { %>
                        <span class="badge rounded-pill alert-success"><%=order.orderStatus%></span>
                        <%}else if(order.orderStatus == "Cancelled"){%>
                          <span class="badge rounded-pill alert-danger"><%=order.orderStatus%></span>
                        <%}else if(order.orderStatus == "Returned"){%>
                          <span class="badge rounded-pill alert-success"><%=order.orderStatus%></span>
                        <%}else{%>
                          <span class="badge rounded-pill alert-warning"><%=order.orderStatus%></span>
                        <%}%>
                </p>
                <p>Payement Status : <%=order.paymentStatus%></p>
                <p>Payement Method : <%=order.paymentMethod%></p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%if(order){%>
                            <%order.products.forEach((product)=>{%>
                                <tr>
                                    <td><%=product.productId.productName%></td>
                                    <td><%=product.quantity%></td>
                                    <td><%=product.productId.salePrice%></td>
                                    <td><%= product.productId.salePrice * product.quantity %></td>
                                </tr>
                            <%})%>
                        <%}else{%>
                            <tr>
                                <h3>No Order Found</h3>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt-4 mb-5">
            <div class="col-3">
                <h4>GROSS AMOUNT</h4>
                <h4>₹ <%=order.totalAmount%></h4>
            </div>
            <% if (order.couponDiscount != 0) { %>
                <div class="col-3">
                    <h4>COUPON DISCOUNT</h4>
                    <h4>₹ <%= order.couponDiscount %></h4>
                </div>
            <% } %>
            <div class="col-3">
                <h4>TOTAL PAID</h4>
                <h4>₹ <%=order.totalAmount - order.couponDiscount%></h4>
            </div>
        </div>
    </div>
</body>
<script>
    document
        .getElementById("printButton")
        .addEventListener("click", function () {
            document.getElementById('printButton').style.display = 'none';
            document.querySelector('.goBackButton').style.display = 'none';
            window.print();
            document.getElementById('printButton').style.display = 'inline';
            document.querySelector('.goBackButton').style.display = 'inline';
        });
</script>

</html>