<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-product-full.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:46 GMT -->
<head>
    <meta charset="utf-8">
    <title><%= product_details.productName %></title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/user_assets/imgs/theme/favicon.webp">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/user_assets/css/maind134.css?v=3.4">
</head>

<body>
    <!-- Quick view -->
    <header class="header-area header-style-1 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+01) - 2345 - 6789</a></li>
                                <li><i class="fi-rs-marker"></i><a  href="page-contact.html">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Get great devices up to 50% off <a href="shop-grid-right.html">View details</a></li>
                                    <li>Supper Value Deals - Save more with coupons</li>
                                    <li>Trendy 25silver jewelry, save up 35% off today <a href="shop-grid-right.html">Shop now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <li>
                                    <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i> English <i class="fi-rs-angle-small-down"></i></a>
                                    <ul class="language-dropdown">
                                        <li><a href="#"><img src="/user_assets/imgs/theme/flag-fr.png" alt="">Français</a></li>
                                        <li><a href="#"><img src="/user_assets/imgs/theme/flag-dt.png" alt="">Deutsch</a></li>
                                        <li><a href="#"><img src="/user_assets/imgs/theme/flag-ru.png" alt="">Pусский</a></li>
                                    </ul>
                                </li>
                                <% if(!userSession){ %> 
                                    <li><i class="fi-rs-user"></i><a href="/login">Log In / Sign Up</a></li>
                                <% }else{ %>
                                    <div class="user-details d-flex align-items-center justify-content-evenly">
                                        <li><i class="fi-rs-user"></i><a class="mr-10" href="/logout">Logout</a></li>
                                    <li><i class="fi-rs-user"></i><a class="mr-10" href="/profile"><%= userSession.username %></a></li>
                                    <a class="profile-link" href="/profile">
                                        <div class="profile-pic mr-10" style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden;">
                                            <img src="/<%= user.userProfile %>" alt="User Profile Picture" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
                                        </div>
                                    </a> 
                                    </div>
                                <% } %> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="/"><img src="/user_assets/imgs/theme/logo.png" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="/search-product" method="get">
                                <input type="text" placeholder="Search for items..." name="searchInput" >
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/wishlist">
                                        <img class="svgInject" alt="Evara" src="/user_assets/imgs/theme/icons/icon-heart.svg">
                                        <!-- <span class="pro-count blue">4</span> -->
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/cart">
                                        <img alt="Evara" src="/user_assets/imgs/theme/icons/icon-cart.svg">
                                        <% if (cartLength) { %>
                                        <span class="pro-count blue"> <%= cartLength%> </span>
                                      <%  } %>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="/"><img src="/user_assets/imgs/theme/logo.png" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categori-button-active" href="/products">
                                <span class="fi-rs-apps"></span> Browse Categories
                            </a>
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    
                                    <li>
                                        <a href="/">Home</a>
                                    </li>
                                    <li><a href="#">Shop</a>
                                    </li>
                                    <li>
                                        <a href="/contact">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="hotline d-none d-lg-block">
                        <p><i class="fi-rs-headset"></i><span>Hotline</span> 1900 - 888 </p>
                    </div>
                   
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img alt="Evara" src="/user_assets/imgs/theme/icons/icon-heart.svg">
                                    <!-- <span class="pro-count white">4</span> -->
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cart">
                                    <img alt="Evara" src="/user_assets/imgs/theme/icons/icon-cart.svg">
                                    <% if (cartLength) { %>
                                        <span class="pro-count blue"> <%= cartLength%> </span>
                                      <%  } %>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                      <a href="/" rel="nofollow">Home</a>
                      <span></span>
                      <a href="/products" rel="nofollow">Shop</a>
                      <span></span>Product
                  </div>                  
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="product-detail accordion-detail">
                            <div class="row mb-50">
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-gallery">
                                        <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                        <!-- MAIN SLIDES -->
                                        <div class="product-image-slider">
                                            <% for (let i = 0; i < product_details.productImage.length; i++) { %>
                                            <figure class="border-radius-10" style="width: 300px;">
                                                <img src="<%= product_details.productImage[i]?.path %>" alt="<%= product_details.productName %>" class="img-fluid" loading="lazy">
                                            </figure>
                                            <% } %>
                                        </div>
                                        <!-- THUMBNAILS -->
                                        <div class="slider-nav-thumbnails pl-15 pr-15">
                                            <% for (let i = 0; i < product_details.productImage.length; i++) { %>
                                            <div>
                                                <img src="<%= product_details.productImage[i]?.path %>" alt="<%= product_details.productName %>" class="img-fluid" loading="lazy">
                                            </div>
                                            <% } %>
                                        </div>        
                                    </div>
                                    <!-- End Gallery -->
                                </div>
                                <div class="col-md-6 col-sm-12 col-xs-12">
                                    <div class="detail-info">
                                        <h2 class="title-detail"><%= product_details.productName %></h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <span> Brands: <a><%= product_details.brand?.brandName %></a></span>
                                            </div>
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <% if (product_details.offerStatus == 'Active' &&  product_details.startDate <= Date.now() && product_details.endDate > Date.now()) { %>
                                                    <ins><span class="text-brand">₹<%= product_details.salePrice - (product_details.salePrice * product_details.discountPercentage) / 100 %></span></ins>
                                                    <ins><span class="old-price font-md ml-15">₹<%= product_details.salePrice%></span></ins>
                                                    <span class="save-price  font-md color3 ml-15"><%= product_details.discountPercentage %>% Off</span>
                                            <% }else{ %>
                                                <ins><span class="text-brand">₹<%= product_details.salePrice %></span></ins>
                                                <% } %>
                                            </div>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <!-- <div class="short-desc mb-30">
                                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam rem officia, corrupti reiciendis minima nisi modi, quasi, odio minus dolore impedit fuga eum eligendi? Officia doloremque facere quia. Voluptatum, accusantium!</p>
                                        </div> -->

                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="detail-extralink">
                                            
                                            <div class="product-extra-link2">
                                                <% if( product_details.stock > 0 ){%>
                                                    <button type="submit" class="button button-add-to-cart" data-product-id="<%= product_details._id %>" id="addtoCart">Add to cart</button>
                                                <% }else{ %>
                                                <button style="opacity: 0.7;" class="button button-add-to-cart" >Out of Stock</button>
                                                <% } %>
                                                <a id="add-to-wishlist" aria-label="Add To Wishlist" class="action-btn hover-up" data-product-id="<%= product_details._id %>"><i class="fi-rs-heart"></i></a>
                                            </div>
                                        </div>
                                        <ul class="product-meta font-xs color-grey mt-50">
                                            <li class="mb-5">Category: <a class="text-capitalize" href="#"><%= product_details.category?.categoryName%></a></li>
                                            <li class="mb-5">Form Factor: <a href="#"><%= product_details.formfactor%></a></li>
                                            <% if(product_details.stock>0){ %>
                                            <li>Availability:<span class="in-stock text-success ml-5"><%= product_details.stock%> Items In Stock</span></li>
                                            <% }else{ %>
                                            <li>Availability:<span class="in-stock text-danger ml-5">Out of Stock</span></li>
                                            <% } %>
                                        </ul>
                                    </div>

                                    <script>
                                        document.addEventListener("DOMContentLoaded", ()=>{
                                            const addtoCart = document.querySelectorAll('#addtoCart');
                                            const addtoWishlist = document.querySelectorAll('#add-to-wishlist');


                                            addtoWishlist.forEach(add => {
                                                add.addEventListener('click', (e)=>{
                                                    e.preventDefault()
                                                    const productId = add.getAttribute('data-product-id')
                                                    console.log(productId);
                                                    fetch(`/addtoWishlist?productId=${productId}`,{method:'POST'} )
                                                    .then((response)=>{
                                                        if(!response.ok){
                                                        throw new Error(`HTTP error! status: ${Response.status}`)
                                                        }
                                                        return response.json();
                                                    })

                                                    .then((data)=>{
                                                        console.log("Response from server", data);
                                                        console.log('here')
                                                        if(data.message){
                                                        Swal.fire({
                                                        position: 'top-center',
                                                        icon: 'success',
                                                        title: data.message,
                                                        showConfirmButton: false,
                                                        timer: 1500
                                                    });
                                                        }else if (data.error){
                                                            Swal.fire({
                                                            position: 'top-center',
                                                            icon: 'error',
                                                            title: data.error,
                                                            showConfirmButton: false,
                                                            timer: 1500
                                                            });
                                                            // window.location.href = '/login';
                                                        }
                                                    }).catch(error => {
                                                        window.location.href = '/login'
                                                        console.error("Error:", error);
                                                    });

                                                })
                                                
                                            });
            
                                            addtoCart.forEach(add => {
                                                add.addEventListener('click', (e)=>{
                                                    e.preventDefault()
                                                    const productId = add.getAttribute('data-product-id')
                                                    console.log(productId);
                                                    fetch(`/addtoCart?productId=${productId}`,{method:'POST'} )
                                                    .then((response)=>{
                                                        if(!response.ok){
                                                          throw new Error(`HTTP error! status: ${Response.status}`)
                                                        }
                                                        return response.json();
                                                    })
            
                                                    .then((data)=>{
                                                        console.log("Response from server", data);
                                                        console.log('here')
                                                        if(data.message){
                                                        Swal.fire({
                                                        position: 'top-center',
                                                        icon: 'success',
                                                        title: data.message,
                                                        showConfirmButton: false,
                                                        timer: 1500
                                                    });
                                                        }else if (data.error){
                                                            window.location.href = '/login';
                                                        }
                                                    }).catch(error => {
                                                        console.error("Error:", error);
                                                    });         
            
                                                })
                                                
                                            });
                                        });
                                    </script>


                                    <!-- Detail Info -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-10 m-auto entry-main-content">
                                    <h2 class="section-title style-1 mb-30">Description</h2>
                                    <div class="description mb-50">
                                        <p><%= product_details.description %></p>
                                        <ul class="product-more-infor mt-30">
                                            <li><span>Brand</span> <%= product_details.brand?.brandName%></li>
                                            <li><span>Colour</span> <%= product_details.colour%></li>
                                            <li><span>Connectivity</span> <%= product_details.connectivity %></li>
                                        </ul>
                                        <hr class="wp-block-separator is-style-dots">
                                        <h4 class="mt-30">Packaging & Delivery</h4>
                                        <hr class="wp-block-separator is-style-wide">
                                        <p>Our commitment to delivering a superior auditory journey extends beyond the remarkable sound profiles; 
                                            it's reflected in our meticulous packaging and prompt delivery service. We understand the anticipation of 
                                            unwrapping a new audio masterpiece, and our elegant packaging ensures that each pair of headphones arrives 
                                            with the same excitement and prestige as when you first discovered them.
                                        </p>
                                        <p>
                                            At our Headphone Emporium, we don't just sell headphones; 
                                            we deliver an unforgettable auditory journey right to your doorstep. Elevate your senses, 
                                            and discover the true essence of sound, only with us.</p>
                                    </div>
                                </div>
                            </div>
                            
                                <% if (relatedProducts.length > 0) { %>
                                <div class="container wow fadeIn animated">
                                <h3 class="section-title mb-20"><span>Related</span> Products</h3>
                                <div class="carausel-6-columns-cover position-relative">
                                    <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-2-arrows"></div>
                                    <div class="carausel-6-columns carausel-arrow-center" id="carausel-6-columns-2">
                                        
                                        <% relatedProducts.forEach(product => {%>
                                        <div class="product-cart-wrap small hover-up">
                                            <div class="product-img-action-wrap">
                                                <div class="product-img product-img-zoom">
                                                    <a href="/productDetails/<%= product._id %>">
                                                        <img class="default-img" src="<%= product.productImage[0]?.path %>" alt="<%= product.productName %>">
                                                        <% if(product.productImage.length>1){ %>
                                                            <img class="hover-img" src="<%= product.productImage[1]?.path %>" alt="<%= product.productName %>">
                                                            <% } else { %>
                                                                <img class="hover-img" src="<%= product.productImage[0]?.path %>" alt="<%= product.productName %>">
                                                                <% } %>
                                                    </a>
                                                </div>
                                                <div class="product-action-1">
                                                        <a aria-label="Add To Wishlist" class="action-btn hover-up addingwhishlist-btn" data-product-id="<%= product._id %>" id="addingwhishlist">
                                                            <i class="fi-rs-heart"></i>
                                                        </a>
                                                        <% if(product.stock > 0 ){%> 
                                                        <a aria-label="Add To Cart" class="action-btn hover-up addingcart-btn" data-product-id="<%= product._id %>" id="addingcart">
                                                            <i class="fi-rs-shopping-bag-add"></i>
                                                        </a>
                                                        <%} else {%>
                                                            <span class="badge text-white" style="background-color: rgb(247, 58, 58); border-radius: 7px;" >Out of Stock</span>
                                                    <%} %>
                                                </div>
                                            </div>
                                            <div class="product-content-wrap">
                                                <h2><a href="/product-details/<%= product._id %>"><%= product.brand?.brandName %></a></h2>
                                                <div class="product-price">
                                                    <span>₹<%= product.salePrice%></span>
                                                </div>
                                            </div>
                                        </div>
                                        <%}) %>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                                
                            
                            <!-- <section class="banner-2 section-padding pb-0">
                                <div class="container">
                                    <div class="banner-img banner-big wow fadeIn animated f-none">
                                        <img src="/userAssets/imgs/banner/ban1.jpg" alt="" style="height: 340px; width: 100%;">
                                        <div class="banner-text d-md-block d-none">
                                            <h4 class="mb-15 mt-40 text-brand">Perfumery</h4>
                                            <h1 class="fw-600 mb-20">Elevate Your Presence <br>with Our Exquisite Fragrances.</h1>
                                            <a href="/" class="btn">Explore <i class="fi-rs-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </section> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%-include('../partials/user_footer')-%>

    <!-- Preloader Start -->
    <!-- <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="text-center">
                    <h5 class="mb-5">Now Loading</h5>
                    <div class="loader">
                        <div class="bar bar1"></div>
                        <div class="bar bar2"></div>
                        <div class="bar bar3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Vendor JS-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/user_assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/user_assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/user_assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/user_assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/user_assets/js/plugins/slick.js"></script>
    <script src="/user_assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/user_assets/js/plugins/wow.js"></script>
    <script src="/user_assets/js/plugins/jquery-ui.js"></script>
    <script src="/user_assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/user_assets/js/plugins/magnific-popup.js"></script>
    <script src="/user_assets/js/plugins/select2.min.js"></script>
    <script src="/user_assets/js/plugins/waypoints.js"></script>
    <script src="/user_assets/js/plugins/counterup.js"></script>
    <script src="/user_assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/user_assets/js/plugins/images-loaded.js"></script>
    <script src="/user_assets/js/plugins/isotope.js"></script>
    <script src="/user_assets/js/plugins/scrollup.js"></script>
    <script src="/user_assets/js/plugins/jquery.vticker-min.js"></script>
    <script src="/user_assets/js/plugins/jquery.theia.sticky.js"></script>
    <script src="/user_assets/js/plugins/jquery.elevatezoom.js"></script>
    <!-- Template  JS -->
    <script src="/user_assets/js/maind134.js?v=3.4"></script>
    <script src="/user_assets/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-product-full.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:46 GMT -->
</html>