﻿<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->

<head>
    <meta charset="utf-8">
    <title>My Cart</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/user_assets/imgs/theme/favicon.webp">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/user_assets/css/maind134.css?v=3.4">
</head>

<body>
    <header class="header-area header-style-1 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+01) - 2345 - 6789</a></li>
                                <li><i class="fi-rs-marker"></i><a href="page-contact.html">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Get great devices up to 50% off <a href="shop-grid-right.html">View details</a>
                                    </li>
                                    <li>Supper Value Deals - Save more with coupons</li>
                                    <li>Trendy 25silver jewelry, save up 35% off today <a
                                            href="shop-grid-right.html">Shop now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <li>
                                    <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i> English <i
                                            class="fi-rs-angle-small-down"></i></a>
                                    <ul class="language-dropdown">
                                        <li><a href="#"><img src="/user_assets/imgs/theme/flag-fr.png"
                                                    alt="">Français</a></li>
                                        <li><a href="#"><img src="/user_assets/imgs/theme/flag-dt.png"
                                                    alt="">Deutsch</a></li>
                                        <li><a href="#"><img src="/user_assets/imgs/theme/flag-ru.png"
                                                    alt="">Pусский</a></li>
                                    </ul>
                                </li>
                                <% if(!userSession){ %>
                                    <li><i class="fi-rs-user"></i><a href="/login">Log In / Sign Up</a></li>
                                    <% }else{ %>
                                        <div class="user-details d-flex align-items-center justify-content-evenly">
                                            <li><i class="fi-rs-user"></i><a class="mr-10" href="/logout">Logout</a></li>
                                        <li><i class="fi-rs-user"></i><a class="mr-10" href="/profile"><%= userSession.username %></a></li>
                                        <a class="profile-link" href="/profile">
                                            <div class="profile-pic mr-10" style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden;">
                                                <img src="/<%= user.userProfile %>" alt="User Profile Picture" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
                                            </div>
                                        </a> 
                                        </div>
                                        <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom sticky-bar sticky-white-bg">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1">
                        <a href="/"><img src="/user_assets/imgs/theme/logo.png" alt="logo"></a>
                    </div>
                    <div class="main-menu main-menu-grow main-menu-padding-1 main-menu-lh-1 main-menu-mrg-1 hm3-menu-padding d-none d-lg-block hover-boder">
                        <nav>
                            <ul>
                                <li><a href="/">Home</a>
                                </li>
                                <li><a href="/products">Shop</a>
                                </li>
                                <li>
                                    <a href="/contact">Contact</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-action-right">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img class="svgInject" alt="Evara" src="/user_assets/imgs/theme/icons/icon-heart.svg">
                                    <!-- <span class="pro-count blue">4</span> -->
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cart">
                                    <img alt="Evara" src="/user_assets/imgs/theme/icons/icon-cart.svg">
                                    <% if (cartLength) { %>
                                        <span class="pro-count blue"> <%= cartLength%> </span>
                                      <%  } %>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
          <div class="container">
            <div class="breadcrumb">
              <a href="/" rel="nofollow">Home</a>
              <span></span> Your Cart
            </div>
          </div>
        </div>
        <section class="mt-50 mb-50">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <%if(cartLength > 0){%>
                  <div class="table-responsive">
                    <table class="table shopping-summery text-center clean">
                      <thead>
                        <tr class="main-heading">
                          <th scope="col">Image</th>
                          <th scope="col">Name</th>
                          <th scope="col">Price</th>
                          <th scope="col">Quantity</th>
                          <th scope="col">Subtotal</th>
                          <th scope="col">Remove</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(let i = userCart.products.length - 1; i >= 0; i--) { %>
                          <tr>
                            <td class="image product-thumbnail">
                              <img class="thumbnail"
                                src="<%= userCart.products[i].productId.productImage[0]?.path %>"
                                alt="" />
                            </td>
                            <td class="product-des product-name">
                              <h5 class="product-name">
                                <a href="/productDetails/<%= userCart.products[i].productId._id %>">
                                  <%=userCart.products[i].productId.productName%>
                                </a>
                              </h5>
                              <p class="font-xs">
                                <%= userCart.products[i].productId.brand.brandName %>
                              </p>
                            </td>
                            <td class="price" data-title="Price">₹
                                <% if (userCart.products[i].productId.offerStatus == 'Active' &&  userCart.products[i].productId.startDate <= Date.now() && userCart.products[i].productId.endDate > Date.now()) { %>
                                    <span><%= userCart.products[i].productId.salePrice - (userCart.products[i].productId.salePrice * userCart.products[i].productId.discountPercentage) / 100 %></span>
                                <% }else{ %>
                                    <span><%=userCart.products[i].productId.salePrice%></span> 
                                    <% } %>
                              </td>
                            <td class="text-center" data-title="Stock">
                              <div class="detail-qty border radius m-auto">
                                <a href="#" class="qty-down qty-button" data-productId="<%= userCart.products[i].productId._id %>">
                                    <i class="fi-rs-angle-small-down"></i>
                                </a>
                                <span class="qty-val" data-productId="<%= userCart.products[i].productId._id %>"
                                    data-stock="<%= userCart.products[i].productId.stock %>">
                                    <%= userCart.products[i].quantity %>
                                </span>
                                <a href="#" class="qty-up qty-button" data-productId="<%= userCart.products[i].productId._id %>">
                                    <i class="fi-rs-angle-small-up"></i>
                                </a>
                              </div>
                            </td>
                        <td class="text-right" data-title="Subtotal">
                            <div class="subtotalElement" data-productId="<%= userCart.products[i].productId._id %>" >₹
                                <% if (userCart.products[i].productId.offerStatus == 'Active' && userCart.products[i].productId.endDate > Date.now()) { %>
                                    <span id="Subtotal" class="subtotal" data-productId="<%= userCart.products[i].productId._id %>">
                                        <%= userCart.products[i].productId.salePrice * userCart.products[i].quantity - (userCart.products[i].productId.salePrice * userCart.products[i].productId.discountPercentage) / 100 *  userCart.products[i].quantity %>
                                    </span>
                                <% }else{ %>
                                    <span id="Subtotal" class="subtotal" data-productId="<%= userCart.products[i].productId._id %>">
                                        <%= userCart.products[i].productId.salePrice * userCart.products[i].quantity %>
                                    </span>
                                    <% } %>
                            </div>
                            <div class="out-of-stock-element" data-productId="<%= userCart.products[i].productId._id %>" >
                                <span class="out-of-stock text-danger" data-productId="<%= userCart.products[i].productId._id %>" >
                                    Product Out of Stock 
                                </span>
                            </div>
                            </td>
                            <td class="action" data-title="Remove">
                              <a class="text-muted cart-remove" data-productId="<%= userCart.products[i].productId._id %>" ><i
                                  class="fi-rs-trash"></i></a>
                            </td>
                          </tr>
                          <%}%>
                      </tbody>
                    </table>
                  </div>
                  <div class="cart-action text-end">
                    <a class="btn" href="/"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                  </div>
                  <div class="divider center_icon mt-50 mb-50">
                    <i class="fi-rs-fingerprint"></i>
                  </div>
                  <div class="row mb-50">
                    <div class="col-lg-6 col-md-12">
                      <div class="border p-md-4 p-30 border-radius cart-totals">
                        <div class="heading_s1 mb-3">
                          <h4>Cart Totals</h4>
                        </div>
                        <div class="table-responsive">
                          <table class="table">
                            <tbody>
                              <tr>
                                <td class="cart_total_label">Shipping</td>
                                <td class="cart_total_amount">
                                  <i class="ti-gift mr-5"></i> Free Shipping
                                </td>
                              </tr>
                              <tr>
                                <td class="cart_total_label">Total</td>
                                <td class="cart_total_amount">
                                  <strong class="font-xl fw-900 text-brand rupee-sign">₹<span id="grand-total" class="font-xl fw-900 text-brand">
                                    </span></strong>
                                    <strong><span id="grand-total" class="font-xl fw-900 text-brand no-total">
                                        Total can't be added    
                                    </span></strong>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="checkout-button">
                            <a href="/checkout" class="btn proceed-to-checkout">
                                <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut
                            </a>
                        </div>
                        <div class="dont-checkout">
                            <button class="btn" disabled>
                                <i class="fi-rs-box-alt mr-10"></i> Product Out of Stock 
                            </button>
                        </div>                        
                      </div>
                    </div>
                  </div>
                  <%}else{%>
                    <h3>No items in cart</h3>

                    <div class="cart-action text-end">
                        <a class="btn" href="/"><i class="fi-rs-shopping-bag mr-10"></i>Shop Now</a>
                      </div>
                    <%}%>
              </div>
            </div>
          </div>
        </section>
    
      </main>
    
      <script>

        function outOfStock(){
            let hasOutOfStockProduct = false;
            document.querySelectorAll('.subtotal').forEach(elem=>{
                const productId = elem.getAttribute('data-productId');
                const quantityElement = document.querySelector(`.qty-val[data-productId="${productId}"]`);
                const quantity = parseInt(quantityElement.textContent, 10);
                const productStock = parseInt(quantityElement.getAttribute('data-stock'), 10);
                const subTotalElement =   document.querySelector(`.subtotalElement[data-productId="${productId}"]`);
                const outOfStockElement = document.querySelector(`.out-of-stock-element[data-productId="${productId}"]`);
                const quantityUpButton = document.querySelector(`.qty-up[data-productId="${productId}"]`);
                const proceedCheckout = document.querySelector('.checkout-button');
                const dontCheckout = document.querySelector('.dont-checkout');
                const rupeeSign = document.querySelector('.rupee-sign');
                const noTotal = document.querySelector('.no-total');

                console.log('Quantity:', quantity);
                console.log('Product Stock:', productStock);

                if(quantity > productStock){
                    subTotalElement.style.display = 'none';
                    outOfStockElement.style.display = 'inline';
                    hasOutOfStockProduct = true;

                }else{
                    subTotalElement.style.display = 'inline';
                    outOfStockElement.style.display = 'none';
                }
                if (hasOutOfStockProduct) {
                    proceedCheckout.style.display = 'none';
                    dontCheckout.style.display = 'inline';
                    rupeeSign.style.display = 'none'
                    noTotal.style.display = 'inline'
                } else {
                    proceedCheckout.style.display = 'inline';
                    dontCheckout.style.display = 'none';
                    rupeeSign.style.display = 'inline'
                    noTotal.style.display = 'none'
                }

            });
        }
        outOfStock();

        function grandTotal(){
            let grandTotal = 0;
            // const quantityElement = document.querySelector(`.qty-val[data-productId="${productId}"]`);
            // const quantity = parseInt(quantityElement.textContent, 10);
            // const productStock = parseInt(quantityElement.getAttribute('data-stock'), 10);
            document.querySelectorAll('.subtotal').forEach((elem)=>{
                // if(quantity > productStock){
                //     elem.textContent = 0;
                // }
                grandTotal += Number(elem.textContent)
            })
            document.querySelector('#grand-total').innerHTML = grandTotal;
        }
        grandTotal();
    

        document.addEventListener('DOMContentLoaded', function () {
        const qtyUp = document.querySelectorAll('.qty-up').forEach(element => {
        element.addEventListener('click', (event) => {
        event.preventDefault();
        var productId = element.getAttribute('data-productId');
        var quantityElement = document.querySelector(`.qty-val[data-productId="${productId}"]`);
        var quantity = parseInt(quantityElement.textContent, 10);
        quantity += 1;
        quantityElement.textContent = quantity;

        updateServerQuantity(productId, quantity, element);
    });
});

    const qtyDown = document.querySelectorAll('.qty-down').forEach(element => {
    element.addEventListener('click', (event) => {
        event.preventDefault();
        var productId = element.getAttribute('data-productId');
        var quantityElement = document.querySelector(`.qty-val[data-productId="${productId}"]`);
        var quantity = parseInt(quantityElement.textContent, 10);
        if (quantity > 1) {
            quantity -= 1;
            quantityElement.textContent = quantity;

            updateServerQuantity(productId, quantity, element);
        }
    });
});


    
      function updateServerQuantity(productId, quantity, element) {
    fetch('/updateCart', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            productId: productId,
            quantity: quantity,
        }),
    })
    .then(response => {
        if (!response.ok) {
            throw Error('Network response was not ok');
        }
        return response.json();
    })
    .then((data)=>{
        if(data.subTotal){
            const row = element.closest('tr');
            const subTotal = row.querySelector('.subtotal')
            subTotal.textContent = data.subTotal;
        grandTotal();
        outOfStock();
        }
        
    })
    
}

    const cartDelete = document.querySelectorAll('.cart-remove').forEach(remove=>{
        remove.addEventListener('click', (e)=>{
        e.preventDefault();
        var productId = remove.getAttribute('data-productId');

        
        fetch(`/removeFromCart?productId=${productId}`, {method: 'POST'})

        .then((response)=>{
            if(!response.ok){
                throw new Error(`HTTP error! status:${response.status}`)
            }
        return response.json();
        })
        .then(data=>{
            if(data.success){
                window.location.reload()
            }
        })
        })
    })

    });
    
      </script>
    <%-include('../partials/user_footer')-%>

    <!-- Vendor JS-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/user_assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/user_assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/user_assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/user_assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/user_assets/js/plugins/slick.js"></script>
    <script src="/user_assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/user_assets/js/plugins/wow.js"></script>
    <script src="/user_assets/js/plugins/jquery-ui.js"></script>
    <script src="/user_assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/user_assets/js/plugins/magnific-popup.js"></script>
    <script src="/user_assets/js/plugins/select2.min.js"></script>
    <script src="/user_assets/js/plugins/waypoints.js"></script>
    <script src="/user_assets/js/plugins/counterup.js"></script>
    <script src="/user_assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/user_assets/js/plugins/images-loaded.js"></script>
    <script src="/user_assets/js/plugins/isotope.js"></script>
    <script src="/user_assets/js/plugins/scrollup.js"></script>
    <script src="/user_assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="/user_assets/js/maind134.js?v=3.4"></script>
    <script src="/user_assets/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->

</html>