<!DOCTYPE html>
<html class="no-js" lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-cart.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->

<head>
    <meta charset="utf-8">
    <title>Checkout</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/user_assets/imgs/theme/favicon.webp">
    <!-- Template CSS -->
    <link rel="stylesheet" href="/user_assets/css/maind134.css?v=3.4">
</head>

<body>
    <header class="header-area header-style-1 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info">
                            <ul>
                                <li><i class="fi-rs-smartphone"></i> <a href="#">(+01) - 2345 - 6789</a></li>
                                <li><i class="fi-rs-marker"></i><a  href="page-contact.html">Our location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4">
                        <div class="text-center">
                            <div id="news-flash" class="d-inline-block">
                                <ul>
                                    <li>Get great devices up to 50% off <a href="shop-grid-right.html">View details</a></li>
                                    <li>Supper Value Deals - Save more with coupons</li>
                                    <li>Trendy 25silver jewelry, save up 35% off today <a href="shop-grid-right.html">Shop now</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <li>
                                    <a class="language-dropdown-active" href="#"> <i class="fi-rs-world"></i> English <i class="fi-rs-angle-small-down"></i></a>
                                    <ul class="language-dropdown">
                                        <li><a href="#"><img src="/user_assets/imgs/theme/flag-fr.png" alt="">Français</a></li>
                                        <li><a href="#"><img src="/user_assets/imgs/theme/flag-dt.png" alt="">Deutsch</a></li>
                                        <li><a href="#"><img src="/user_assets/imgs/theme/flag-ru.png" alt="">Pусский</a></li>
                                    </ul>
                                </li>
                                <% if(!userSession){ %>
                                    <li><i class="fi-rs-user"></i><a href="/login">Log In / Sign Up</a></li>
                                    <% }else{ %>
                                        <div class="user-details d-flex align-items-center justify-content-evenly">
                                            <li><i class="fi-rs-user"></i><a class="mr-10" href="/logout">Logout</a></li>
                                        <li><i class="fi-rs-user"></i><a class="mr-10" href="/profile"><%= userSession.username %></a></li>
                                        <a class="profile-link" href="/profile">
                                            <div class="profile-pic mr-10" style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden;">
                                                <img src="<%= user.userProfile %>" alt="User Profile Picture" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
                                            </div>
                                        </a> 
                                        </div>
                                        <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="/"><img src="/user_assets/imgs/theme/logo.png" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-2">
                            <form action="#">
                                <select class="select-active">
                                    <option>All Categories</option>
                                    <option>Women's</option>
                                    <option>Men's</option>
                                    <option>Cellphones</option>
                                    <option>Computer</option>
                                    <option>Electronics</option>
                                    <option> Accessories</option>
                                    <option>Home & Garden</option>
                                    <option>Luggage</option>
                                    <option>Shoes</option>
                                    <option>Mother & Kids</option>
                                </select>
                                <input type="text" placeholder="Search for items...">
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <a href="/wishlist">
                                        <img class="svgInject" alt="Evara" src="/user_assets/imgs/theme/icons/icon-heart.svg">
                                        <span class="pro-count blue">4</span>
                                    </a>
                                </div>
                                <div class="header-action-icon-2">
                                    <a class="mini-cart-icon" href="/cart">
                                        <img alt="Evara" src="/user_assets/imgs/theme/icons/icon-cart.svg">
                                        <% if (cartLength) { %>
                                            <span class="pro-count blue"> <%= cartLength%> </span>
                                          <%  } %>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="index.html"><img src="/user_assets/imgs/theme/logo.svg" alt="logo"></a>
                    </div>
                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categori-button-active" href="#">
                                <span class="fi-rs-apps"></span> Browse Categories
                            </a>
                            <div class="categori-dropdown-wrap categori-dropdown-active-large">
                                <ul>
                                    <li class="has-children">
                                        <a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a>
                                        <div class="dropdown-menu">
                                            <ul class="mega-menu d-lg-flex">
                                                <li class="mega-menu-col col-lg-7">
                                                    <ul class="d-lg-flex">
                                                        <li class="mega-menu-col col-lg-6">
                                                            <ul>
                                                                <li><span class="submenu-title">Hot & Trending</span></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Dresses</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Blouses & Shirts</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Hoodies & Sweatshirts</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Women's Sets</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Suits & Blazers</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Bodysuits</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Tanks & Camis</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Coats & Jackets</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mega-menu-col col-lg-6">
                                                            <ul>
                                                                <li><span class="submenu-title">Bottoms</span></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Leggings</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Skirts</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Shorts</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Jeans</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Pants & Capris</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Bikini Sets</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Cover-Ups</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Swimwear</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="mega-menu-col col-lg-5">
                                                    <div class="header-banner2">
                                                        <img src="/user_assets/imgs/banner/menu-banner-2.jpg" alt="menu_banner1">
                                                        <div class="banne_info">
                                                            <h6>10% Off</h6>
                                                            <h4>New Arrival</h4>
                                                            <a href="#">Shop now</a>
                                                        </div>
                                                    </div>
                                                    <div class="header-banner2">
                                                        <img src="/user_assets/imgs/banner/menu-banner-3.jpg" alt="menu_banner2">
                                                        <div class="banne_info">
                                                            <h6>15% Off</h6>
                                                            <h4>Hot Deals</h4>
                                                            <a href="#">Shop now</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="has-children">
                                        <a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a>
                                        <div class="dropdown-menu">
                                            <ul class="mega-menu d-lg-flex">
                                                <li class="mega-menu-col col-lg-7">
                                                    <ul class="d-lg-flex">
                                                        <li class="mega-menu-col col-lg-6">
                                                            <ul>
                                                                <li><span class="submenu-title">Jackets & Coats</span></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Down Jackets</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Jackets</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Parkas</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Faux Leather Coats</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Trench</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Wool & Blends</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Vests & Waistcoats</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Leather Coats</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mega-menu-col col-lg-6">
                                                            <ul>
                                                                <li><span class="submenu-title">Suits & Blazers</span></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Blazers</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Suit Jackets</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Suit Pants</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Suits</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Vests</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Tailor-made Suits</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Cover-Ups</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="mega-menu-col col-lg-5">
                                                    <div class="header-banner2">
                                                        <img src="/user_assets/imgs/banner/menu-banner-4.jpg" alt="menu_banner1">
                                                        <div class="banne_info">
                                                            <h6>10% Off</h6>
                                                            <h4>New Arrival</h4>
                                                            <a href="#">Shop now</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="has-children">
                                        <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a>
                                        <div class="dropdown-menu">
                                            <ul class="mega-menu d-lg-flex">
                                                <li class="mega-menu-col col-lg-7">
                                                    <ul class="d-lg-flex">
                                                        <li class="mega-menu-col col-lg-6">
                                                            <ul>
                                                                <li><span class="submenu-title">Hot & Trending</span></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Cellphones</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">iPhones</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Refurbished Phones</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Mobile Phone</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Mobile Phone Parts</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Phone Bags & Cases</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Communication Equipments</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Walkie Talkie</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="mega-menu-col col-lg-6">
                                                            <ul>
                                                                <li><span class="submenu-title">Accessories</span></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Screen Protectors</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Wire Chargers</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Wireless Chargers</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Car Chargers</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Power Bank</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Armbands</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Dust Plug</a></li>
                                                                <li><a class="dropdown-item nav-link nav_item" href="#">Signal Boosters</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="mega-menu-col col-lg-5">
                                                    <div class="header-banner2">
                                                        <img src="/user_assets/imgs/banner/menu-banner-5.jpg" alt="menu_banner1">
                                                        <div class="banne_info">
                                                            <h6>10% Off</h6>
                                                            <h4>New Arrival</h4>
                                                            <a href="#">Shop now</a>
                                                        </div>
                                                    </div>
                                                    <div class="header-banner2">
                                                        <img src="/user_assets/imgs/banner/menu-banner-6.jpg" alt="menu_banner2">
                                                        <div class="banne_info">
                                                            <h6>15% Off</h6>
                                                            <h4>Hot Deals</h4>
                                                            <a href="#">Shop now</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer & Office</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer Electronics</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-diamond"></i>Jewelry & Accessories</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother & Kids</a></li>
                                    <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li>
                                    <li>
                                        <ul class="more_slide_open" style="display: none;">
                                            <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Beauty, Health</a></li>
                                            <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Bags and Shoes</a></li>
                                            <li><a href="shop-grid-right.html"><i class="evara-font-diamond"></i>Consumer Electronics</a></li>
                                            <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Automobiles & Motorcycles</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="more_categories">Show more...</div>
                            </div>
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a class="active" href="index.html">Home <i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="index.html">Home 1</a></li>
                                            <li><a href="index-2.html">Home 2</a></li>
                                            <li><a href="index-3.html">Home 3</a></li>
                                            <li><a href="index-4.html">Home 4</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="page-about.html">About</a>
                                    </li>
                                    <li><a href="shop-grid-right.html">Shop <i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                            <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                            <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                            <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                            <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                            <li><a href="#">Single Product <i class="fi-rs-angle-right"></i></a>
                                                <ul class="level-menu">
                                                    <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                                                    <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                                                    <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="shop-filter.html">Shop – Filter</a></li>
                                            <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                            <li><a href="shop-cart.html">Shop – Cart</a></li>
                                            <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                            <li><a href="shop-compare.html">Shop – Compare</a></li>
                                        </ul>
                                    </li>
                                    <li class="position-static"><a href="#">Mega menu <i class="fi-rs-angle-down"></i></a>
                                        <ul class="mega-menu">
                                            <li class="sub-mega-menu sub-mega-menu-width-22">
                                                <a class="menu-title" href="#">Women's Fashion</a>
                                                <ul>
                                                    <li><a href="shop-product-right.html">Dresses</a></li>
                                                    <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                                                    <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                                    <li><a href="shop-product-right.html">Wedding Dresses</a></li>
                                                    <li><a href="shop-product-right.html">Prom Dresses</a></li>
                                                    <li><a href="shop-product-right.html">Cosplay Costumes</a></li>
                                                </ul>
                                            </li>
                                            <li class="sub-mega-menu sub-mega-menu-width-22">
                                                <a class="menu-title" href="#">Men's Fashion</a>
                                                <ul>
                                                    <li><a href="shop-product-right.html">Jackets</a></li>
                                                    <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                                    <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                                    <li><a href="shop-product-right.html">Casual Pants</a></li>
                                                    <li><a href="shop-product-right.html">Sweatpants</a></li>
                                                    <li><a href="shop-product-right.html">Harem Pants</a></li>
                                                </ul>
                                            </li>
                                            <li class="sub-mega-menu sub-mega-menu-width-22">
                                                <a class="menu-title" href="#">Technology</a>
                                                <ul>
                                                    <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                                    <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                                    <li><a href="shop-product-right.html">Tablets</a></li>
                                                    <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                                    <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                                                </ul>
                                            </li>
                                            <li class="sub-mega-menu sub-mega-menu-width-34">
                                                <div class="menu-banner-wrap">
                                                    <a href="shop-product-right.html"><img src="/user_assets/imgs/banner/menu-banner.jpg" alt="Evara"></a>
                                                    <div class="menu-banner-content">
                                                        <h4>Hot deals</h4>
                                                        <h3>Don't miss<br> Trending</h3>
                                                        <div class="menu-banner-price">
                                                            <span class="new-price text-success">Save to 50%</span>
                                                        </div>
                                                        <div class="menu-banner-btn">
                                                            <a href="shop-product-right.html">Shop now</a>
                                                        </div>
                                                    </div>
                                                    <div class="menu-banner-discount">
                                                        <h3>
                                                            <span>35%</span>
                                                            off
                                                        </h3>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="blog-category-grid.html">Blog <i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                            <li><a href="blog-category-list.html">Blog Category List</a></li>
                                            <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                            <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                            <li><a href="#">Single Post <i class="fi-rs-angle-right"></i></a>
                                                <ul class="level-menu level-menu-modify">
                                                    <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                                    <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                                    <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Pages <i class="fi-rs-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="page-about.html">About Us</a></li>
                                            <li><a href="page-contact.html">Contact</a></li>
                                            <li><a href="page-account.html">My Account</a></li>
                                            <li><a href="page-login-register.html">login/register</a></li>
                                            <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                            <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                            <li><a href="page-terms.html">Terms of Service</a></li>
                                            <li><a href="page-404.html">404 Page</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="page-contact.html">Contact</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="hotline d-none d-lg-block">
                        <p><i class="fi-rs-headset"></i><span>Hotline</span> 1900 - 888 </p>
                    </div>
                    <p class="mobile-promotion">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%</p>
                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishlist">
                                    <img alt="Evara" src="/user_assets/imgs/theme/icons/icon-heart.svg">
                                    <span class="pro-count white">4</span>
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cart">
                                    <img alt="Evara" src="/user_assets/imgs/theme/icons/icon-cart.svg">
                                    <% if (cartLength) { %>
                                        <span class="pro-count blue"> <%= cartLength %> </span>
                                      <%  } %>
                                </a>
                                <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara" src="/user_assets/imgs/shop/thumbnail-3.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Plain Striola Shirts</a></h4>
                                                <h3><span>1 × </span>$800.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara" src="/user_assets/imgs/shop/thumbnail-4.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Macbook Pro 2022</a></h4>
                                                <h3><span>1 × </span>$3500.00</h3>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Total <span>$383.00</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="shop-cart.html">View cart</a>
                                            <a href="shop-checkout.html">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="/user_assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-small">
                            <ul>
                                <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a></li>
                                <li> <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer & Office</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer Electronics</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother & Kids</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="index.html">Home</a>
                                <ul class="dropdown">
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index-2.html">Home 2</a></li>
                                    <li><a href="index-3.html">Home 3</a></li>
                                    <li><a href="index-4.html">Home 4</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="shop-grid-right.html">shop</a>
                                <ul class="dropdown">
                                    <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                    <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                    <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                    <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                    <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Single Product</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                                            <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                                            <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-filter.html">Shop – Filter</a></li>
                                    <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                    <li><a href="shop-cart.html">Shop – Cart</a></li>
                                    <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                    <li><a href="shop-compare.html">Shop – Compare</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Mega menu</a>
                                <ul class="dropdown">
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Women's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Dresses</a></li>
                                            <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                                            <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                            <li><a href="shop-product-right.html">Women's Sets</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Men's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Jackets</a></li>
                                            <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                            <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Technology</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                            <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                            <li><a href="shop-product-right.html">Tablets</a></li>
                                            <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                            <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="blog-category-fullwidth.html">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                    <li><a href="blog-category-list.html">Blog Category List</a></li>
                                    <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                    <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Single Product Layout</a>
                                        <ul class="dropdown">
                                            <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                            <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                            <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="page-about.html">About Us</a></li>
                                    <li><a href="page-contact.html">Contact</a></li>
                                    <li><a href="page-account.html">My Account</a></li>
                                    <li><a href="page-login-register.html">login/register</a></li>
                                    <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                    <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="page-terms.html">Terms of Service</a></li>
                                    <li><a href="page-404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                                <ul class="dropdown">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a  href="page-contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="page-login-register.html">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="/user_assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="/user_assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="/user_assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="/user_assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="/user_assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Checkout
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <!-- <div class="row">
                    <div class="col-lg-6">
                        <div class="toggle_info">
                            <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your code</a></span>
                        </div>
                        <div class="panel-collapse collapse coupon_form " id="coupon">
                            <div class="panel-body">
                                <p class="mb-30 font-sm">If you have a coupon code, please apply it below.</p>
                                <form method="post">
                                    <div class="form-group">
                                        <input type="text" placeholder="Enter Coupon Code...">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn  btn-md" name="login">Apply Coupon</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-20">
                            <h4>Billing Details</h4>
                        </div>
                        <div class="mb-20" >
                            <a data-bs-toggle="modal" data-bs-target="#addressModal">Ship to a new address?</a>
                        </div>

                        <!-- Modal -->
                        <div class="modal fade" id="addressModal" tabindex="-1" aria-labelledby="addressModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="addressModalLabel">Add Address</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" action="/post-add-address" id="myForm">
                                        <div class="ship_detail">
                                            <div id="collapseAddress" class="different_address">
                                                <div class="form-group">
                                                    <input type="text" required  name="name" id="username" placeholder="Name *">
                                                    <div id="usernameError" class="error"></div>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" required name="addressType" id="address" placeholder="Address *">
                                                    <div id="addressError" class="error"></div>
                                                </div>
                                                <div class="form-group">
                                                    <input  type="text" required name="city" id="city" placeholder="City *">
                                                    <div id="cityError" class="error"></div>
                                                </div>
                                                <div class="form-group">
                                                    <input  type="text" required name="landMark" id="landmark" placeholder="Landmark *">
                                                    <div id="landmarkError" class="error"></div>
                                                </div>
                                                <div class="form-group">
                                                    <input  type="text" required name="state" id="state" placeholder="State *">
                                                    <div id="stateError" class="error"></div>
                                                </div>
                                                <div class="form-group">
                                                    <input  type="number" required name="pincode" id="postcode" placeholder="Postcode  *">
                                                    <div id="postcodeError" class="error"></div>
                                                </div>
                                                <div class="form-group">
                                                    <input  type="number" required name="phone" id="phoneNumber" placeholder="Phone Number  *">
                                                    <div id="phoneNumberError" class="error"></div>
                                                </div>
                                                <div class="form-group">
                                                    <input  type="number" required name="altPhone" id="altphone" placeholder="Alternative Phone Number  *">
                                                    <div id="altphoneError" class="error"></div>
                                                </div>
                                                <div>
                                                    <button type="submit" id="submitButton">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            </div>
                        </div>


                        <script>

                            document.addEventListener("DOMContentLoaded", ()=>{
                                const submitButton = document.getElementById('submitButton');
                                submitButton.addEventListener("click", (e)=>{
                                    console.log(validateForm());
                                    if(!validateForm()){
                                        e.preventDefault();
                                    }
                                });

                                const validateForm = ()=>{
                                resetErrorMessages();

                                const inputFields = [
                                { id: 'username', name: 'Username' },
                                { id: 'address', name: 'Address' },
                                { id: 'city', name: 'City' },
                                { id: 'landmark', name: 'Landmark' },
                                { id: 'state', name: 'State' },
                                { id: 'postcode', name: 'Postcode' },
                                { id: 'phoneNumber', name: 'Phone Number' },
                                { id: 'altphone', name: 'Alternative Phone Number' }
                            ];

                                    isValid = true;

                                inputFields.forEach(field=>{
                                    const value = document.getElementById(`${field.id}`).value;
                                    const trimmedValue = value.trim();

                                    //check for whitespaces and empty fields
                                    if(value !== trimmedValue){
                                        showError(`${field.id}Error`, `${field.name} cannot have whitespaces`);
                                       isValid =  false;
                                    }

                                    if(trimmedValue == ""){
                                        showError(`${field.id}Error`, `${field.name} cannot be empty`);
                                       isValid = false;   
                                    }

                                    
                                });

                                const phoneNumber = document.getElementById('phoneNumber').value;
                                const altphone = document.getElementById('altphone').value;

                                if (isNaN(phoneNumber) || phoneNumber.length !== 10 || phoneNumber[0] === '0') {
                                    showError('phoneNumberError', 'Phone number must be a number with exactly 10 digits and should not start with 0');
                                    isValid = false;
                                }

                                if (isNaN(altphone) || altphone.length !== 10 || altphone[0] === '0') {
                                    showError('altphoneError', 'Phone number must be a number with exactly 10 digits and should not start with 0');
                                    isValid = false;
                                }

                                return isValid;

                            }

                            function showError(elementId, message){
                                const errorElement = document.getElementById(elementId);
                                errorElement.textContent = message;
                                errorElement.style.color = 'red';
                            }

                            function resetErrorMessages() { 
                                const errorElements = document.querySelectorAll('.error');
                                errorElements.forEach((element) => {
                                    element.textContent = '';
                                });
                            }

                            });

                        </script>


                        <% if (userAddress?.address.length > 0) { %>
                            <% userAddress.address.forEach(address => { %>
                                 <div class="addresses">
                                    <div class="form-check">
                                        <input class="form-check-input select-address" type="radio" value="<%= address._id %>" name="flexRadioDefault" id="addressInput">
                                        <label class="form-check-label" for="flexRadioDefault1">
                                          <%= address.name %>
                                          <br>
                                          <%= address.addressType %>
                                          <br>
                                          <%= address.phone %>
                                        </label>
                                      </div>
                                 </div>
                            <% }); %>
                        <% }else{ %>
                        <h2>No saved Addresses</h2>
                       <% } %>
                       
                       
                        
                        
                    </div>
                    <div class="col-md-6">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <% for(let i = userCart.products.length - 1; i >= 0; i--) { %>
                                        <tr>
                                            <td class="image product-thumbnail"><img src="<%= userCart.products[i].productId.productImage[0]?.path %>" alt="#"></td>
                                            <td>
                                                <h5><a href="shop-product-full.html"> <%=userCart.products[i].productId.productName%> </a></h5> <span class="product-qty"> x <%= userCart.products[i].quantity %> </span>
                                            </td>
                                            <% if (userCart.products[i].productId.offerStatus == 'Active' && userCart.products[i].productId.endDate > Date.now()) { %>
                                            <td> <%= userCart.products[i].productId.salePrice * userCart.products[i].quantity - (userCart.products[i].productId.salePrice * userCart.products[i].productId.discountPercentage) / 100 *  userCart.products[i].quantity %> </td>
                                            <% }else{ %>
                                            <td> <%= userCart.products[i].productId.salePrice * userCart.products[i].quantity %> </td>
                                            <% } %>
                                        </tr>
                                        <% } %>
                                        <tr>
                                            <th>SubTotal</th>
                                            <td class="product-grandTotal-td" colspan="2">
                                            <span>₹</span>  <span class="sub-total"> <%= grandTotal %> </span>
                                            </td>
                                          </tr>
                                          <tr class="coupon-discount-tr hidden">
                                            <th>Coupon Discount</th>
                                            <td colspan="2"> - <span>₹</span> <em class="coupon-discount" ><%= couponDiscount %></em></td>
                                          </tr>
                                        <tr>
                                            <th>Total</th>
                                            <td colspan="2" class="product-subtotal"> <span class = "font-xl text-brand fw-900">₹</span> <span class="font-xl text-brand fw-900 grand-total"> <%= grandTotal %></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="mt-30">
                                    <h5 class="mb-10">Apply coupon: <a data-bs-toggle="modal" data-bs-target="#couponModal" class="pl-10 font-sm">Click here</a></h5>
                                    <input style="height: 40px; width: 200px;" placeholder="Enter Code" type="text" id="coupon-input" name="coupon-input">
                                    <button class="btn btn-sm" id="apply-button">Apply</button>
                                    <button class="btn btn-sm" id="remove-button">Remove</button>
                                    <div id="couponError" class="error"></div>
                                </div>

                                <!-- Modal -->
                        <div class="modal fade" id="couponModal" tabindex="-1" aria-labelledby="couponModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="couponModalLabel">Coupons for you</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <% if (coupons.length > 0) { %>
                                        <% coupons.forEach(coupon => { %>
                                        <div class="col">
                                            <div class="coupon-card">
                
                
                                                <div class="text-center">
                                    
                                                    <div class="d-flex flex-row text-center">
                                    
                                                    <img src="https://icon-library.com/images/coupon-icon-png/coupon-icon-png-21.jpg" width="70">
                                                    
                                                    <div class="d-flex justify-content-center align-items-center flex-column ml-1">
                                    
                                                        <h1 class="mb-0 amount"> ₹<%= coupon.discountAmount %> </h1>
                                                        <span class="discount">OFFER</span>

                                                        <p>on minimum purchase of ₹<%= coupon.minimumPurchase %></p>
                                                        
                                                    </div>
                                                </div>
                                                    
                                                </div>
                
                                                <hr class="line">
                
                                                <h4 class="mb-0"> <%= coupon.couponCode %> </h4>
                                                
                                                <span class="text" style="word-wrap: break-word;">
                                                    <%= coupon.description %>
                                                </span>

                                                

                                                <br>

                                                <span class="text">Expires on <%= moment(coupon.expiryDate).format("MMM Do YY")  %> </span>
                                    
                                                <div class="mt-4 text-end">
                                                    <a class="btn btn-sm font-sm rounded btn-dark copy-button" onclick="copyToClipboard('<%= coupon.couponCode %>')">
                                                        Copy
                                                    </a>
                                                </div>
                                                    
                                                    
                                                </div>
                                            </div>
                                        <% }) %>
                                    <% }else{ %>
                                        <h3>Oops! No coupons available now</h3>
                                        <% } %>
                                </div>
                            </div>
                            </div>
                        </div>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
            //function to copy code to clipboard
        function copyToClipboard(code) {
            navigator.clipboard.writeText(code).then(()=> {
                Swal.fire({
                position: 'center',
                icon: 'success',
                title: "Coupon Code copied to Clipboard",
                showConfirmButton: false,
                timer: 1500
                });
            }).catch(err=>{
                console.error('Unable to copy to clipboard', error);
            });
        }
        
        document.addEventListener("DOMContentLoaded", ()=>{
        const applyButton = document.getElementById('apply-button');
        const couponInput = document.getElementById('coupon-input');
        const couponDiscount = document.querySelector('.coupon-discount');
        const couponDiscountTR = document.querySelector('.coupon-discount-tr');
        const grandTotalValue = document.querySelector('.grand-total').textContent.trim();
        const grandTotal = document.querySelector('.grand-total');
        const removeButton = document.getElementById('remove-button');
        let couponCode = null;
        removeButton.style.display = 'none';
        
        applyButton.addEventListener("click", function (e) {
            e.preventDefault();
            if(validateCode()){
                fetch(`/apply-coupon?couponCode=${couponInput.value}&grandTotal=${grandTotalValue}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
                })
                .then(response=>{
                    if(!response.ok){
                        throw new Error(`HTTP Error! status:${response.status}`);
                    }
                    return response.json();
                })
                .then(data=>{
                    if(data.error){
                        Swal.fire({
                        position: 'center',
                        icon: 'error',
                        title: data.error,
                        showConfirmButton: false,
                        timer: 1500
                        });
                    }else if(data.message){
                        console.log('success');
                        Swal.fire({
                        position: 'center',
                        icon: 'success',
                        title: data.message,
                        showConfirmButton: false,
                        timer: 1500
                        });
                        originalGrandTotal = data.grandTotal;
                        grandTotal.innerText = data.updatedTotal;
                        couponDiscount.innerText = data.couponDiscount;
                        applyButton.style.display = 'none';
                        removeButton.style.display = 'inline';
                        couponDiscountTR.classList.remove('hidden');
                        couponInput.readOnly = true;
                        couponCode = couponInput.value;
                    }
                }).catch(error=>{
                    window.location.href = '/login'
                    console.error("Error:", error);
                })
            
            }
        });
        removeButton.addEventListener("click", ()=>{
            couponInput.value = "";
            removeButton.style.display = 'none';
            applyButton.style.display = 'inline';
            couponDiscountTR.classList.add('hidden');
            couponInput.readOnly = false;
            grandTotal.innerText = originalGrandTotal;
            couponDiscount.innerText = 0;
            couponCode = null;
        })

        function validateCode() {
            let inputCouponCode = couponInput.value; // Get the current value and trim whitespaces
            let isValid = true;
            const errorElement = document.getElementById('couponError');
            errorElement.textContent = ''; // Clear previous error messages
            errorElement.style.color = '';

            if (/\s/.test(inputCouponCode)) {
                errorElement.textContent = 'Coupon cannot have whitespaces';
                errorElement.style.color = 'red';
                isValid = false;
            }

            if (inputCouponCode === '') {
                errorElement.textContent = 'Coupon cannot be empty';
                errorElement.style.color = 'red';
                isValid = false;
            }

            return isValid;
        }


        const codOrderButton = document.getElementById('cod-orderButton');
        codOrderButton.addEventListener("click", (e)=>{
            e.preventDefault();
            const radioButtons = document.querySelectorAll('.select-address');
            let selectedAddressValue = null;
            for (const radioButton of radioButtons) {
                
                if(radioButton.checked){
                    selectedAddressValue = radioButton.value;
                    fetch(`place-order-cod/${selectedAddressValue}?couponCode=${couponCode || ''}`)
                    .then(response=>{
                        if(!response.ok){
                            throw new Error(`HTTP Error! status:${response.status}`)
                        }
                        return response.json();
                    })
                    .then(data=>{
                        if(data.backToCart){
                            window.location.href = '/cart';
                        }
                        if(data.error){
                            Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: data.error,
                            showConfirmButton: false,
                            timer: 1500
                            });
                        }else if(data.orderId){
                            window.location.href = `/order-placed/${data.orderId}`
                        }
                    }).catch(error=>{
                        window.location.href = '/login';
                        console.error(error);
                    })
                    break;
                }
            }

            if (selectedAddressValue !== null) {
            console.log("Selected Address ID:", selectedAddressValue);
            } else {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'No Address is Selected!',
            })
            }
        });


        const razorpayButton = document.getElementById('rzp-orderButton');
        razorpayButton.addEventListener("click", (e)=>{
            e.preventDefault();
            const radioButtons = document.querySelectorAll('.select-address');
            let selectedAddressValue = null;
            console.log(couponInput);
            for (const radioButton of radioButtons) {
                
                if(radioButton.checked){
                    selectedAddressValue = radioButton.value;
                    fetch(`place-order-razorpay/${selectedAddressValue}?couponCode=${couponCode || ''}`)
                    .then(response=>{
                        if(!response.ok){
                            throw new Error(`HTTP Error! status:${response.status}`)
                        }
                        return response.json();
                    })
                    .then(data=>{
                        if(data.backToCart){
                            window.location.href = '/cart';
                        }
                        if(data.error){
                            Swal.fire({
                            position: 'center',
                            icon: 'error',
                            title: data.error,
                            showConfirmButton: false,
                            timer: 1500
                            });
                        }else if(data.razorOrderId){
                            console.log('response received');
                            console.log(razorOrderId);
                            var razorOrderId = data.razorOrderId;
                            var orderId = data.orderId
                            // Initialize the Razorpay payment with the order_id
                            var options = {
                            key: "rzp_test_gBU9v2ubdClFXs",
                            order_id: razorOrderId,
                            handler: (response)=>{
                                console.log(response);
                                //payment successfull
                                handlePaymentSuccess(razorOrderId, response, orderId)
                            }
                            };
                            console.log(' new razorpay');
                            var rzp1 = new Razorpay(options);
                            console.log('razorpay open()');
                            rzp1.open();
                            rzp1.on('payment.failed', response=>{
                                console.log("Payment Failed");
                                handlePaymentFailure(razorOrderId, response, orderId);
                            });
                        }
                    }).catch(error=>{
                        console.error(error);
                        console.log('some error');
                        // window.location.href = '/login';
                    })
                    break;
                }
            }

            if (selectedAddressValue !== null) {
            console.log("Selected Address ID:", selectedAddressValue);
            } else {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'No Address is Selected!',
            })
            }
        });

        //function to handle payment success
        function handlePaymentSuccess(razorOrderId, response, orderId) {
            updatePaymentStatus("Success", razorOrderId, response, orderId);
        }

        //function to handle payment failure
        function handlePaymentFailure(razorOrderId, response, orderId) {
            updatePaymentStatus("Failed", razorOrderId, response, orderId)
        }

        // Function to update the payment status in the database
        function updatePaymentStatus(paymentStatus, razorOrderId, response, orderId) {
            const url = `/update-payment-status?paymentStatus=${paymentStatus}&razorOrderId=${razorOrderId}&orderId=${orderId}&couponCode=${couponCode || ''}`

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response=>{
                if(!response.ok){
                    throw new Error('Failed to update payment status');
                }
                return response.json();
            })
            .then(data=>{
                if(data.paymentStatus == "Success"){
                    window.location.href = `/order-placed/${orderId}`
                }else{
                    window.location.href = '/profile'
                }
            })
            .catch(error=>{
                console.error('Failed to update payment status', error);
                window.location.href = '/login';
            })
        }


        });


        </script>

                            </div>
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <div class="payment_method">
                                <div class="mb-5">
                                    <h5>Payment</h5>
                                </div>
                            </div>
                            <button class="btn btn-sm mr-10" id="cod-orderButton">Cash on Delivery</button>
                            <button class="btn btn-sm mr-10" id="rzp-orderButton">Pay with Razorpay</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>
    <footer class="main">
        <section class="newsletter p-30 text-white wow fadeIn animated">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 mb-md-3 mb-lg-0">
                        <div class="row align-items-center">
                            <div class="col flex-horizontal-center">
                                <img class="icon-email" src="/user_assets/imgs/theme/icons/icon-email.svg" alt="">
                                <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                            </div>
                            <div class="col my-4 my-md-0 des">
                                <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first shopping.</strong></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <!-- Subscribe Form -->
                        <form class="form-subcriber d-flex wow fadeIn animated">
                            <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                            <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                        </form>
                        <!-- End Subscribe Form -->
                    </div>
                </div>
            </div>
        </section>
        <section class="section-padding footer-mid">
            <div class="container pt-15 pb-20">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="widget-about font-md mb-md-5 mb-lg-0">
                            <div class="logo logo-width-1 wow fadeIn animated">
                                <a href="/"><img src="/user_assets/imgs/theme/logo.png" alt="logo"></a>
                            </div>
                            <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                            <p class="wow fadeIn animated">
                                <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                            </p>
                            <p class="wow fadeIn animated">
                                <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                            </p>
                            <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                            <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                                <a href="#"><img src="/user_assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                                <a href="#"><img src="/user_assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                                <a href="#"><img src="/user_assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                                <a href="#"><img src="/user_assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                                <a href="#"><img src="/user_assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3">
                        <h5 class="widget-title wow fadeIn animated">About</h5>
                        <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Support Center</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-3">
                        <h5 class="widget-title wow fadeIn animated">My Account</h5>
                        <ul class="footer-list wow fadeIn animated">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">View Cart</a></li>
                            <li><a href="#">My Wishlist</a></li>
                            <li><a href="#">Track My Order</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Order</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <h5 class="widget-title wow fadeIn animated">Install App</h5>
                        <div class="row">
                            <div class="col-md-8 col-lg-12">
                                <p class="wow fadeIn animated">From App Store or Google Play</p>
                                <div class="download-app wow fadeIn animated">
                                    <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active" src="/user_assets/imgs/theme/app-store.jpg" alt=""></a>
                                    <a href="#" class="hover-up"><img src="/user_assets/imgs/theme/google-play.jpg" alt=""></a>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                                <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                                <img class="wow fadeIn animated" src="/user_assets/imgs/theme/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container pb-20 wow fadeIn animated">
            <div class="row">
                <div class="col-12 mb-20">
                    <div class="footer-bottom"></div>
                </div>
                <div class="col-lg-6">
                    <p class="float-md-left font-sm text-muted mb-0">&copy; 2022, <strong class="text-brand">audiophile</strong></p>
                </div>
                <div class="col-lg-6">
                </div>
            </div>
        </div>
    </footer>

    <style>

    .coupon-card{

    width: 100%;
    border:none;
    height: 100%;
    border-radius: 15px;
    padding: 20px;
    background-color: #f0f0f0;
    color: #000000;
    margin-bottom: 1rem;
    }

    .amount{

    font-size: 2rem;
    color: #000000;
    }

    .discount{

    font-size: 1.5rem;
    color: #000000;
    }


    .line{
    color: #000000;
    }


    .form-check-input:checked {
    background-color: #F44336;
    border-color: #F44336;
    }


    .form-check-input:focus {
    border-color: #d50000;
    outline: 0;
    box-shadow: none;
    }


    .form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.75em;
    margin-bottom: -5px;
    } 
    </style>


    <!-- Vendor JS-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/user_assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/user_assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/user_assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="/user_assets/js/vendor/bootstrap.bundle.min.js"></script>
    <script src="/user_assets/js/plugins/slick.js"></script>
    <script src="/user_assets/js/plugins/jquery.syotimer.min.js"></script>
    <script src="/user_assets/js/plugins/wow.js"></script>
    <script src="/user_assets/js/plugins/jquery-ui.js"></script>
    <script src="/user_assets/js/plugins/perfect-scrollbar.js"></script>
    <script src="/user_assets/js/plugins/magnific-popup.js"></script>
    <script src="/user_assets/js/plugins/select2.min.js"></script>
    <script src="/user_assets/js/plugins/waypoints.js"></script>
    <script src="/user_assets/js/plugins/counterup.js"></script>
    <script src="/user_assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="/user_assets/js/plugins/images-loaded.js"></script>
    <script src="/user_assets/js/plugins/isotope.js"></script>
    <script src="/user_assets/js/plugins/scrollup.js"></script>
    <script src="/user_assets/js/plugins/jquery.vticker-min.js"></script>
    <!-- Template  JS -->
    <script src="/user_assets/js/maind134.js?v=3.4"></script>
    <script src="/user_assets/js/shopd134.js?v=3.4"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-checkout.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Jul 2023 10:10:07 GMT -->
</html>