<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:31 GMT -->
<head>
    <meta charset="utf-8">
    <title>Edit Offer</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin_assets/imgs/theme/favicon.webp">
    <!-- Template CSS -->
    <link href="/admin_assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
      <div class="aside-top">
          <a href="/admin" class="brand-wrap">
              <img src="/admin_assets/imgs/theme/logo.png" class="logo" alt="Evara Dashboard">
          </a>
          <div>
              <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
          </div>
      </div>
      <nav>
          <ul class="menu-aside">
              <li class="menu-item">
                  <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                      <span class="text">Dashboard</span>
                  </a>
              </li>
              <li class="menu-item has-submenu">
                  <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-shopping_bag"></i>
                      <span class="text">Products</span>
                  </a>
                  <div class="submenu">
                      <a href="/admin/products">Product View</a>
                      <a href="/admin/addProduct" class="active">Add Product</a>
                  </div>
              </li>
              <li class="menu-item">
                  <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                      <span class="text">Orders</span>
                  </a>
              </li>
              <li class="menu-item">
                  <a class="menu-link" href="/admin/categories"> <i class="icon material-icons md-category"></i>
                      <span class="text">Categories</span>
                  </a>
              </li>
              <li class="menu-item">
                  <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-person"></i>
                      <span class="text">Users</span>
                  </a>
              </li>
              <li class="menu-item">
                  <a class="menu-link" href="/admin/brands"> <i class="icon material-icons md-stars"></i>
                      <span class="text">Brands</span> </a>
              </li>
              <li class="menu-item has-submenu">
                  <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-local_offer"></i>
                      <span class="text">Coupons</span>
                  </a>
                  <div class="submenu">
                      <a href="/admin/coupons" >Coupon View</a>
                      <a href="/admin/add-coupon">Add Coupon</a>
                  </div>
              </li>
              <li class="menu-item has-submenu active">
                <a class="menu-link" href="page-products-list.html"> <i class="icon material-icons md-request_quote"></i>
                    <span class="text">Offers</span>
                </a>
                <div class="submenu">
                    <a href="/admin/offers" class="active">Offer View</a>
                    <a href="/admin/add-offer">Add Offer</a>
                </div>
            </li>
              <li class="menu-item">
                  <a class="menu-link" href="page-reviews.html"> <i class="icon material-icons md-comment"></i>
                      <span class="text">Reviews</span>
                  </a>
              </li>
              <li class="menu-item">
                  <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                      <span class="text">Statistics</span>
                  </a>
              </li>
          </ul>
          <hr>
          <ul class="menu-aside">
              <li class="menu-item has-submenu">
                  <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                      <span class="text">Settings</span>
                  </a>
                  <div class="submenu">
                      <a href="page-settings-1.html">Setting sample 1</a>
                      <a href="page-settings-2.html">Setting sample 2</a>
                  </div>
              </li>
              <li class="menu-item">
                  <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                      <span class="text"> Starter page </span>
                  </a>
              </li>
          </ul>
          <br>
          <br>
      </nav>
  </aside>
  <main class="main-wrap">
      <header class="main-header navbar">
          <div class="col-search">
              <form class="searchform">
                  <div class="input-group">
                      <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                      <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                  </div>
                  <datalist id="search_terms">
                      <option value="Products">
                      <option value="New orders">
                      <option value="Apple iphone">
                      <option value="Ahmed Hassan">
                  </datalist>
              </form>
          </div>
          <div class="col-nav">
              <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
              <ul class="nav">
                  <li class="nav-item">
                      <a class="nav-link btn-icon" href="#">
                          <i class="material-icons md-notifications animation-shake"></i>
                          <span class="badge rounded-pill">3</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                  </li>
                  <li class="nav-item">
                      <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                  </li>
                  <li class="dropdown nav-item">
                      <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                          <a class="dropdown-item text-brand" href="#"><img src="/admin_assets/imgs/theme/flag-us.png" alt="English">English</a>
                          <a class="dropdown-item" href="#"><img src="/admin_assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                          <a class="dropdown-item" href="#"><img src="/admin_assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                          <a class="dropdown-item" href="#"><img src="/admin_assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                      </div>
                  </li>
                  <li class="dropdown nav-item">
                      <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/admin_assets/imgs/people/avatar2.jpg" alt="User"></a>
                      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                          <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                          <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                          <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                          <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                          <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                      </div>
                  </li>
              </ul>
          </div>
      </header>
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h3 class="content-title">Edit Offer</h3>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card mb-4">
                        <div class="card-body">
                          <form id="offer-form">
                            <input type="hidden" name="offerId" id="offerId" value="<%= offer._id %>">
                            <div class="col-lg-6 mb-4">
                                <label class="form-label">Offer Type</label>
                                <select class="form-select" name="offerType" id="offerType">
                                    <option value="" disabled>Select Type</option>
                                    <option value="product" <%= offer.offerType === 'product' ? 'selected' : '' %>>Product</option>
                                    <!-- <option value="category" <%= // offer.offerType === 'category' ? 'selected' : '' %>>Category</option> -->
                                </select>
                                <div id="offerTypeError" class="error-message"></div>
                            </div>
                        
                            <!-- Offer Name Product Block -->
                            <div class="mb-4" id="offerNameProduct">
                                <label for="offerNameProduct" class="form-label">Product Name</label>
                                <select class="form-select" name="offerNameProduct" id="offerNameProductSelect">
                                    <option value="" disabled>Select Product</option>
                                    <% products.reverse().forEach(product => { %>
                                        <option <%= product.productName === offer.offerName ? 'selected' : '' %>><%= product.productName %></option>
                                    <% }) %>
                                </select>
                                <div id="offerNameProductSelectError" class="error-message"></div>
                            </div>
                        
                            <!-- Offer Name Category Block -->
                            <!-- <div class="mb-4" id="offerNameCategory" style="display: none;">
                                <label for="offerNameCategory" class="form-label">Category Name</label>
                                <select class="form-select" name="offerNameCategory" id="offerNameCategorySelect">
                                    <option value="" disabled>Select Category</option>
                                    <% // categories.reverse().forEach(category => { %>
                                        <option class="text-capitalize" <%= // category.categoryName === offer.offerName ? 'selected' : '' %>><%= // category.categoryName %></option>
                                    <% // }) %>
                                </select>
                                <div id="offerNameCategorySelectError" class="error-message"></div>
                            </div> -->
                        
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-4">
                                        <label class="form-label">Discount Percentage</label>
                                        <input required placeholder="Percentage" type="number" class="form-control" name="discountPercentage" id="discountPercentage" value="<%= offer.discountPercentage %>">
                                        <div id="discountPercentageValueError" class="error-message"></div>
                                    </div>
                                </div>
                        
                                <div class="col-lg-6">
                                    <label class="form-label">Status</label>
                                    <select required class="form-select" name="status" id="status">
                                        <option value="Active" <%= offer.offerStatus === 'Active' ? 'selected' : '' %>>Active</option>
                                        <option value="Inactive" <%= offer.offerStatus === 'Inactive' ? 'selected' : '' %>>Inactive</option>
                                    </select>
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-4">
                                        <label class="form-label">Starting Date</label>
                                        <div class="row gx-2">
                                            <input required placeholder="₹" type="date" class="form-control" name="startDate" id="startDate" value="<%= offer.startDate.toISOString().split('T')[0] %>">
                                            <div id="startDateError" class="error-message"></div>
                                        </div>
                                    </div>
                                </div>
                        
                                <div class="col-lg-6">
                                    <div class="mb-4">
                                        <label class="form-label">Ending Date</label>
                                        <input required placeholder="₹" type="date" class="form-control" name="endDate" id="endDate" value="<%= offer.endDate.toISOString().split('T')[0] %>">
                                        <div id="endDateError" class="error-message"></div>
                                    </div>
                                </div>
                            </div>
                        
                            <div>
                                <button class="btn btn-md" type="submit" id="submit">Submit</button>
                            </div>
                        </form>
                        

                            <!-- <script>
                              document.addEventListener('DOMContentLoaded', function () {
                                const offerTypeSelect = document.getElementById('offerType');
                                const offerNameCategory = document.getElementById('offerNameCategory');
                                const offerNameProduct = document.getElementById('offerNameProduct');
                            
                                offerTypeSelect.addEventListener('change', function () {
                                  const selectedOption = offerTypeSelect.value;
                            
                                  if (selectedOption === 'category') {
                                    offerNameCategory.style.display = 'block';
                                    offerNameProduct.style.display = 'none';
                                  } else if (selectedOption === 'product') {
                                    offerNameProduct.style.display = 'block';
                                    offerNameCategory.style.display = 'none';
                                  } else {
                                    offerNameCategory.style.display = 'none';
                                    offerNameProduct.style.display = 'none';
                                  }
                                });
                              });
                            </script> -->
                        </div>
                    </div> 
                    
                </div>
                
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <script>
      document.addEventListener("DOMContentLoaded", ()=>{
        const submitButton = document.getElementById('submit');
        submitButton.addEventListener("click", (e)=>{
            e.preventDefault();

            if (validateForm()) {
              const offerId = document.getElementById('offerId').value;
              const offerType = document.getElementById('offerType').value;
              const offerName = (offerType === 'category') ? document.getElementById('offerNameCategorySelect').value : document.getElementById('offerNameProductSelect').value;
              const discountPercentage = document.getElementById('discountPercentage').value;
              const offerStatus = document.getElementById('status').value;
              const startDate = new Date(document.getElementById('startDate').value);
              const endDate = new Date(document.getElementById('endDate').value);

              const offerData = {
                  offerType,
                  offerName,
                  discountPercentage,
                  offerStatus,
                  startDate,
                  endDate
              };
              
              fetch(`/admin/post-edit-offer/${offerId}`, {
                method: 'POST',
                headers:{
                'Content-Type': 'application/json',
                },
                body: JSON.stringify(offerData),
              })
              .then(response=>{
                if(!response.ok){
                    throw new Error(`HTTP Error! status:${response.status}`)
                }
                return response.json();
              })
              .then(data=>{
                if (data.error) {
                    Swal.fire({
                    position: 'top-center',
                    icon: 'error',
                    title: data.error,
                    showConfirmButton: false,
                    timer: 1500
                    });
                }else if(data.success){
                    window.location.href = '/admin/offers';
                }
              })
            }
        });

          function validateForm() {
          resetErrorMessages();

          let isValid = true;

          const offerTypeSelect = document.getElementById('offerType');
        const offerNameProductSelectValue = document.getElementById('offerNameProductSelect').value;
        // const offerNameCategorySelectValue = document.getElementById('offerNameCategorySelect').value;

        const selectedOption = offerTypeSelect.value;

        if (!selectedOption) {
          showError('offerTypeError', 'Select a category!');
            isValid = false;
        }

        // if (selectedOption == 'category' && offerNameCategorySelectValue == '') {
        //     showError('offerNameCategorySelectError', 'Select a category!');
        //     isValid = false;
        // }

        if (selectedOption == 'product' && offerNameProductSelectValue == '') {
            showError('offerNameProductSelectError', 'Select a product!');
            isValid = false;
        }



          const discountPercentageValue = document.getElementById('discountPercentage').value;
          const startDateValue = new Date(document.getElementById('startDate').value);
          const endDateValue = new Date(document.getElementById('endDate').value);


          if (discountPercentageValue <= 0 || discountPercentageValue >=  100) {
            showError('discountPercentageValueError', 'Discount must be between 0 & 100');
            isValid = false;
          }

          if (isNaN(startDateValue) || startDateValue < new Date()) {
            showError('startDateError', 'Starting Date cannot be in the past');
            isValid = false;
          }

          if (isNaN(endDateValue) || endDateValue < new Date()) {
            showError('endDateError', 'Ending Date must be in future');
            isValid = false;
          }

          return isValid;

          }


        function showError(elementId, message) {
            const errorElement = document.getElementById(elementId);
            errorElement.textContent = message;
            errorElement.style.color = 'red';
            }   

        function resetErrorMessages() { 
            const errorElements = document.querySelectorAll('.error-message');
            errorElements.forEach((element) => {
                element.textContent = '';
            });
        }

      });
    </script>
      

      
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/admin_assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin_assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin_assets/js/vendors/select2.min.js"></script>
    <script src="/admin_assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin_assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/admin_assets/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-form-product-1.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:32 GMT -->
</html>